.project-container {
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 4px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 0 0 35px;
    padding: 35px;
    min-height: 250px;
}
.project-container .project-avatar {
    flex: 0 0 auto;
    width: 180px;
    height: 180px;
    margin: 0 0 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f3f3f3;
}
.project-container .project-avatar > img {
    max-width: 100%;
}
.project-container .project-content .project-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.project-container .project-content .project-info {
    list-style: none;
    margin-top: 25px;
}
.project-container .project-content .project-info > li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.project-container .project-content .project-info > li:last-child {
    margin-bottom: 0;
}
.project-container .project-content .project-info > li > i:before {
    margin-left: 10px;
    font-size: 18px;
    line-height: 1;
    display: inline-block;
}
.project-container .project-content .project-info .project-deadline {
    color: #666666;
}
.project-container .project-content .project-info .project-deadline.ended {
    color: #d50000;
}
.project-container .project-content .project-info .project-budget {
    font-size: 18px;
    font-weight: bold;
    color: #00838f;
}
.project-container .project-content .project-info .won-user {
    font-weight: bold;
    color: #388e3c;
}
.project-container .project-description {
    margin-top: 25px;
}
.project-container .project-description > h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.project-container .project-description > p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 15px;
    text-indent: 20px;
}
.project-container .project-description > p:last-child {
    margin-bottom: 0;
}
.project-container .project-skills {
    margin: 35px -35px 35px;
    background: #f9f9f9;
    padding: 30px 35px 25px;
    border-top: 2px dashed #4dd0e1;
    border-bottom: 1px solid #dddddd;
}
.project-container .project-skills > h4 {
    font-size: 18px;
    font-weight: bold;
    color: #00838f;
}
.project-container .project-skills .skills-list {
    display: flex;
    direction: ltr;
    margin-top: 10px;
}
.project-container .project-skills .skills-list .skill-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 7px;
    border-radius: 4px;
    margin: 4px 7px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
}
.project-container .project-skills .skills-list .skill-item .skill-name {
    line-height: 1;
    display: inline-block;
    margin: 2px 10px 0 3px;
}
.project-container .project-skills .skills-list .skill-item .skill-rating {
    display: inline-block;
    background: #c8eef3;
    text-align: center;
    color: #006064;
    height: 25px;
    min-width: 25px;
    padding: 7px 5px 5px;
    margin: 0;
    font-size: 14px;
    border-radius: 3px;
    position: relative;
}
.project-container .project-form .already-bid {
    color: #388e3c;
    font-size: 18px;
}
.project-container .project-form .deadline-reached {
    font-size: 18px;
    color: #d50000;
    display: flex;
    align-items: center;
}
.project-container .project-form .deadline-reached > i:before {
    font-size: 22px;
}
.project-container .project-form > h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.project-container .project-form .bid-form {
    display: flex;
    align-items: stretch;
}
.project-container .project-form .bid-form .input-wrapper {
    border: 2px solid #00bcd4;
    background: #ffffff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 15px;
}
.project-container .project-form .bid-form .input-wrapper > input {
    background: transparent;
    border: none;
    margin-left: 7px;
}
.project-container .project-form .bid-form .input-wrapper .bid-label {
    align-self: center;
    color: #0097a7;
}
.project-container .project-form .bid-form > button {
    padding: 0 10px;
    background: #00acc1;
    border-radius: 4px;
    color: #ffffff;
    border: none;
}

/*# sourceMappingURL=project.css.map */
